body {
  background-image: linear-gradient(to right, rgb(149, 160, 240), rgb(145, 232, 230), rgb(161, 145, 212));
}
h1  {
  text-align: center;
  color: rgb(146, 31, 88);
}
/* Container holding the image and the text */
#logo  {
  position: relative;
  text-align: center;
}

/* Centered text */
.logoText {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color:rgba(9, 0, 5, 0.791)
  
}