body {
  background-image: linear-gradient(to right, rgb(149, 160, 240), rgb(145, 232, 230), rgb(161, 145, 212));
}
h1  {
  text-align: center;
  color: rgb(146, 31, 88);
}

button  {
  display: flex;
  justify-content: center;
}
/* Container holding the image and the text */
#logo  {
  position: relative;
  text-align: center;
}

/* Centered text */
.logoText {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color:rgba(18, 1, 10, 0.791)
  
}
#randomFact  {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}